MONITOR VX-600VA@10.5.46.60 1 {{ nut.observer.username }} {{ nut.observer.password }} slave

MINSUPPLIES 1

SHUTDOWNCMD "/sbin/shutdown -p now"

NOTIFYFLAG ONLINE     IGNORE
NOTIFYFLAG ONBATT     IGNORE
NOTIFYFLAG LOWBATT    IGNORE
NOTIFYFLAG FSD        IGNORE
NOTIFYFLAG COMMOK     IGNORE
NOTIFYFLAG COMMBAD    IGNORE
NOTIFYFLAG SHUTDOWN   IGNORE
NOTIFYFLAG REPLBATT   IGNORE
NOTIFYFLAG NOCOMM     IGNORE
NOTIFYFLAG NOPARENT   IGNORE
NOTIFYCMD ""

POLLFREQ 1
POLLFREQALERT 1

HOSTSYNC 15
DEADTIME 60

POWERDOWNFLAG "/etc/killpower"
OFFDURATION 30
RBWARNTIME 43200
NOCOMMWARNTIME 300

FINALDELAY 180