Types: deb
URIs: https://download.docker.com/linux/debian
Suites: {{ ansible_facts['distribution_release'] }}
Components: stable
Architectures: {{ dpkg_arch.stdout }}
Signed-By: /usr/share/keyrings/docker.gpg