WAN_MAC="11:22:33:aa:bb:cc""
PUBLIC_KEYS=(
    "ssh-ed25519 AAAAC3NzaC1lZDI device-name"
)
WG_PRIVATE_KEY="WG_PRIV_KEY"
WG_PEERS=(
    "PEER_NAME,PEER_DESCRIPTION,PEER_IPV6/128,PEER_IPV4/32,PEER_PRIVATE_KEY,PEER_PRE_SHARED_KEY"
)