server ntp.kriss.re.kr iburst prefer
pool kr.pool.ntp.org iburst

{% if ansible_facts['os_family'] == 'Debian' %}
driftfile /var/lib/chrony/chrony.drift
{% else %}
driftfile /var/lib/chrony/drift
{% endif %}
makestep 1.0 3
rtcsync
logdir /var/log/chrony